@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 65 12% 83%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        /* --primary: 240 5.9% 10%; */
        --primary: 0 0% 0%;
        --primary-foreground: 72 82% 65%;
        --secondary: 60 4% 69%;
        --secondary-foreground: 73 9% 18%;
        --tertiary: 60 4% 85%;
        --tertiary-foreground: 73 9% 18%;
        --muted: 50 19% 94%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 72 82% 65%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 30 19% 78%;
        --chart-1-foreground: 19 87% 47%;
        --chart-2: 74 73% 48%;
        --chart-2-foreground: 115 20% 20%;
        --chart-3: 28 84% 84%;
        --chart-3-foreground: 251 83% 47%;
        --chart-4: 251 83% 47%;
        --chart-4-foreground: 220 82% 88%;
        --chart-5: 220 82% 88%;
        --chart-5-foreground: 251 83% 47%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .header-text {
        @apply font-libre italic text-white text-xl text-left;
    }
}

*:focus {
    @apply focus:ring-0 focus:outline-none;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .shadow-primary {
        box-shadow: 0px 8px 0px 0px rgba(0, 30, 30, 0.3);
    }

    .shadow-primary-foreground {
        box-shadow: 0px 8px 0px 0px hsl(var(--primary));
    }

    .shadow-secondary {
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
    }

    .shadow-chart-1 {
        box-shadow: 0px 8px 0px 0px hsl(var(--chart-1-foreground));
    }

    .shadow-chart-2 {
        box-shadow: 0px 8px 0px 0px hsl(var(--chart-2-foreground));
    }

    .shadow-primary-hover {
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
    }

    .bg-benri-pattern {
        background-image: url("/benri-logo-icon.svg");
        background-size: 48px 48px;
        background-repeat: repeat;
        opacity: 0.03;
    }
}
